<h4>Seções:</h4>
<a href="/admin/categorias"><button class="btn btn-success">Categorias</button></a>
<a href="/admin/postagens"><button class="btn btn-success">Postagens</button></a>

<style>
    body{
        text-align: center;
    }
</style>
